@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.CoinKit.Localization
@model Lazy.Abp.CoinKit.Web.Pages.CoinKit.IndexModel
@inject IStringLocalizer<CoinKitResource> L
@{
}
<h1>CoinKit</h1>
<p>@L["SamplePageMessage"]</p>
